body {
	margin: 0;
}

.room {
	position: relative;
}

.room img {
	height: 100vh;
	width: 100%;
}

.door {
	position: absolute;
	top: 29%;
	left: 47%;
	width: 6%;
	height: 22%;
}

.bucket {
	position: absolute;
	top: 45%;
	left: 84%;
	width: 16%;
	height: 28%;
}

.skull {
	position: absolute;
	top: 35%;
	left: 7%;
	width: 10%;
	height: 11%;
}

.bonepick {
	position: absolute;
	top: 39%;
	left: 49%;
	width: 7%;
	height: 6%;
}

.doorhandle {
	position: absolute;
	top: 62%;
	left: 58%;
	width: 10%;
	height: 9%;
}

.torch {
	position: absolute;
	top: 9%;
	left: 28%;
	width: 5%;
	height: 20%;
}

.hall {
	position: absolute;
	top: 20%;
	left: 40%;
	width: 30%;
	height: 40%;
}

.hall2 {
	position: absolute;
	top: 35%;
	left: 50%;
	width: 11%;
	height: 30%;
}

.dark {
	position: absolute;
	top: 29%;
	left: 18%;
	width: 64%;
	height: 60%;
}

.grineer {
	position: absolute;
	top: 44%;
	left: 59%;
	width: 12%;
	height: 40%;
}

.back {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 83%;
	left: 92%;
	width: 5%;
	height: 5%;
	color: white;
	text-align: center;
	line-height: 5vh;
	font-size: 1vw;
}